.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-menu {
  background-color: #f6f6f7 !important;
}
.ant-menu-inline {
  border-right: none;
}
.ant-menu-inline > .ant-menu-item {
  height: 4.5rem;
}
.ant-menu-item .ant-menu-item-icon {
  min-width: 28px;
}
.ant-menu-inline .ant-menu-item-selected:after {
  opacity: 0;
}

.ant-table-tbody {
  background: #f6f6f7;
}

.ant-table-tbody > tr > td {
  border: 3px solid white;
  padding: 0px 4px;
  text-align: center;
  font-family: "archia";
  color: #6c757d;
}

.ant-table-thead > tr > th {
  padding: 0 20px;
}
